<div class="container" *ngIf="members$ | async as members">
  <div class="table-responsive">
    <div class="d-flex flex-column flex-md-row justify-content-between">
      <h2 class="h2 bold text-secondary">Membros</h2>
      <div class="d-flex flex-row gap-3">
        <button routerLink="/create" type="button" class="btn btn-primary">
          <span>
            Cadastrar novo membro
          </span>
        </button>
        <button routerLink="/event/check-in" type="button" class="btn btn-secondary">
          <span>
            Terminal Presença
          </span>
        </button>
      </div>
    </div>
    <table
      class="table table-striped table-hover caption-top"
      dataSource="churches"
    >
      <thead>
        <tr >
          <th scope="col">Nome</th>
          <th scope="col">Ordenacao</th>
          <th scope="col">Setor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of sortMembers(members) ">

          <th scope="row">
            <a [routerLink]="['', 'members', 'edit', member?.cpf]">
              {{ member.name }}
            </a>
          </th>
          <td scope="row">{{ member.ordination }}</td>
          <td scope="row">{{ member.sector.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
