.login {
  background: white;
  width: 600px;
  padding: 40px;
}

img {
  width: 155px;
}


.reuniao {
  border-right: 1px solid grey;
  padding-right: 30px;
  margin-right: 30px;
}

.confirmation {
  background: white;
  width: 600px;
  padding: 40px;
}
