<div>
  <h3 *ngIf="editMode" class="text-secondary">
    Editar membro
  </h3>
  <h3 *ngIf="!editMode" class="text-secondary">
    Criar Membro
  </h3>
  <form [formGroup]="form" *ngIf="form">
    <div>
      <caption>Dados</caption>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-floating mb-3">
            <input formControlName="name" type="text" class="form-control" id="floatingInput" placeholder="Nome da igreja">
            <label class="form-label" for="usr">Nome</label>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-floating mb-3">
            <input
              formControlName="cpf"
              type="cpf"
              class="form-control"
              id="floatingInput"
              placeholder="cpf"
              [inputMask]="cpfInputMask"
            >
            <label class="form-label" for="inputCpf">CPF</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-floating mb-3">
            <select class="form-select form-floating  form-select-md mb-3" formControlName="ordination" aria-label=".form-select-lg">
              <option [ngValue]="null" disabled>Selecione a ordenação</option>
              <option *ngFor="let ordination of ordinations" [ngValue]="ordination.name">{{ ordination.name }}</option>
            </select>
            <label class="form-label" for="typeNumber">Ordenação</label>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-floating mb-3">
            <select class="form-select form-floating  form-select-md mb-3" formControlName="sector_id" aria-label=".form-select-lg">
              <option [ngValue]="null" disabled>Selecione o setor</option>
              <option *ngFor="let sector of sectors$ | async" [ngValue]="sector.id">{{ sector.name }}</option>
            </select>
            <label class="form-label" for="typeNumber">Setor</label>
          </div>
        </div>
      </div>
      </div>
      <hr>

    <div class="d-flex flex-row gap-3">
      <button  (click)="onEdit()"  *ngIf="editMode" type="button" class="btn btn-primary">
        <span>Editar</span>
      </button>

      <button  (click)="onCreate()" *ngIf="!editMode" class="btn btn-primary">
        <span>Criar</span>
      </button>

      <button (click)="goBack()" type="button" class="btn btn-danger">
        <span>Voltar</span>
      </button>
    </div>
  </form>
</div>


