.check-in{
  background: url('https://source.unsplash.com/random/1920×1080/?nature, forest, mountain') no-repeat;
  height: 100%;
  background-size: cover;
  background-position: center;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .login {
      background: white;
      width: 600px;
      padding: 40px;
    }

  }


}
